In [1]:
'{} {}'.format(1,2)

'1 2'

In [2]:
'{},{}'.format('one','two')

'one,two'

In [4]:
'{1} {0}'.format('one','two')

'two one'

In [7]:
'python {}!'.format('rules')

'python rules!'

In [9]:
x = {'age':30, 'number':31}

In [10]:
x

{'age': 30, 'number': 31}

In [11]:
x['age']

30

In [12]:
x['number']

31

In [13]:
set('misissippi')

{'i', 'm', 'p', 's'}

In [14]:
x = {1,2,3}

In [15]:
x.add(4)

In [18]:
x

{1, 2, 3, 4}

In [21]:
celcius = [0,10,20,34.5]
fahrenheit = []
for x in celcius:
    fahrenheit.append(((9/5)*x + 32))

In [22]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [23]:
name = "shashikanth"
x = [ i for i in name]
x

['s', 'h', 'a', 's', 'h', 'i', 'k', 'a', 'n', 't', 'h']

In [25]:
x = [x**2 for x in range(0,11)]

x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
x = [x**2 for x in range(0,11) if x%2==0]
x

[0, 4, 16, 36, 64, 100]

In [28]:
st = 'Print only the words that start with s in this sentence'
for word in st.split():
    if word[0] == "s":
        print(word)

start
s
sentence

In [29]:
#Use range() to print all the even numbers from 0 to 10.
for i in range(0,10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [30]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [32]:
#Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.
x = [x for x in range(1,50) if x%3==0]
x

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [33]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word)%2 ==0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [35]:
#Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, 
#and for the multiples of five print "Buzz". 
#For numbers which are multiples of both three and five print "FizzBuzz".

for i in range(1,100):
    if i%3 ==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    elif i%3==0 and i%5==0:
        print("FizzBuzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [37]:
st = 'Create a list of the first letters of every word in this string'
x = [x[0] for x in st.split()]
x

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [11]:
def say(name="default"):
    print("hello"+ name)

In [13]:
say("shashi")

helloshashi

In [15]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [32]:
def even(alist):
    even = []
    for i in alist:
        if i%2==0:
            even.append(i)
        else:
            pass
    return even

In [33]:
even([1,2,3,4,5,6])

[2, 4, 6]

In [37]:
def employee_check(alist):
    count=0
    for emp, hours in alist:
        if hours > count:
            count=hours
            employee = emp
        else: pass
    return (employee, count)

In [40]:
emp, hours = employee_check([('shashi',400),('sagunala', 800), ('ssk', 5000)])

In [41]:
emp, hours

('ssk', 5000)

In [47]:
from random import shuffle
mylist = [1,2,3,4,5,6]
shuffle(mylist)

In [48]:
mylist

[1, 2, 6, 5, 4, 3]

In [55]:
mylist=['','O','']

In [62]:
def shuffle_mylist(mylist):
    shuffle(mylist)
    return mylist

In [63]:
shuffle_mylist(mylist)

['O', '', '']

In [70]:
def player_guess():
    guess = ''
    while guess not in ['0','1','2']:
        guess = input("pick a number 0,1 or 2 : ")
    return int(guess)

In [71]:
player_guess()

pick a number 0,1 or 2 : 0

0

In [76]:
def check_guess(mylist, guess):
    if mylist[guess] == "O":
        print("Correct Guess")
    else:
        print("Wrong guess!")
        print(mylist)

In [77]:
mylist = [" ","O"," "]
shuffled_list = shuffle_mylist(mylist)
guess = player_guess()
check_guess(shuffled_list, guess)

pick a number 0,1 or 2 : 1
Wrong guess!
['O', ' ', ' ']

In [78]:
def myfunc(*args):
    return sum(args)

In [79]:
myfunc(10,20,30,40,50)

150

In [84]:
def myfunc(*args):
    print(args)
    even=[]
    for i in args:
        if i%2==0:
            even.append(i)
        else:
            pass
    return even

In [85]:
myfunc(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

[2, 4, 6, 8]

In [86]:
def myfunc(string):
    word = ""
    for index, value in enumerate(string):
        if index%2==0:
            word+=value.upper()
        else:
            word+=value.lower()
    return word

In [88]:
myfunc("HippoPoTamUs")

'HiPpOpOtAmUs'

In [91]:
def check(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [93]:
print(check(2,5))

5

In [103]:
def word(string):
    wordlist = string.split()
    return wordlist[0][0]==wordlist[1][0]

In [104]:
word("Shashi Sagunala")

True

In [107]:
def check(a,b):
    return a+b==20 or a==20 or b==20

In [110]:
check(10,20)

True

In [115]:
def name(string):
    if len(string)>3:
        return string[:3].capitalize()+string[3:].capitalize()
    else:
        print("name is too short")

In [117]:
name("shashikanth")

'ShaShikanth'

In [133]:
def reversed(text):
    return " ".join(text.split()[::-1])

In [134]:
reversed("sagunala shashikanth")

'shashikanth sagunala'

In [140]:
def almost_there(n):
    return ((abs(100-n) <=10) or (abs(200-n) <=10))

In [143]:
almost_there(110)

True

In [146]:
def num3(nums):
    for i in range(0, len(nums)-1):
        print(i)
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [149]:
num3([1,2,4,5,3,3])

0
1
2
3
4

True

In [154]:
def roll(text):
    result=""
    for i in text:
        result+=i*3
    return result

In [155]:
roll("shashi")

'ssshhhaaassshhhiii'

In [156]:
def spy_game(arr):
    for i in range(0,len(arr)-1):
        if arr[i:i+3]==[0,0,7]:
            return True
    return False

In [158]:
spy_game([1,2,3,0,0,5,5])

False

In [182]:
def count_prime(num):
    total=0
    
    for n in range(num):
        if n<=1:
            continue
        for i in range(2,n):
            if (num%i)==0:
                break
        else:
            total+=1
            
    return total

In [183]:
count_prime(25)

4

In [179]:
def count_Primes_nums(n):
    ctr = 0
    
    for num in range(n):
        if num <= 1:
            continue
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            ctr += 1

    return ctr

In [170]:
print(count_Primes_nums(10))

4

In [184]:
def square(num):
    return num**2

In [186]:
square(5)

25

In [187]:
arr = [1,2,3,4,5,6]

In [188]:
map(square, arr)

In [189]:
list(map(square,arr))

[1, 4, 9, 16, 25, 36]

In [194]:
def even(num):
    if num%2==0:
        return True
    return False

In [196]:
even(8)

True

In [197]:
arr1=[1,2,3,4,5,6,7,8,9]

In [198]:
list(map(even, arr1))

[False, True, False, True, False, True, False, True, False]

In [202]:
list(filter(even,arr1))

[2, 4, 6, 8]

In [208]:
list(map(lambda num: num**2,arr1))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [222]:
#GLOBAL
name = " is Sagunala Shashikanth"
 
def names():
    
    #ENCLOSED
    #name = "shashikanth"
    def greet():
        #LOCAL 
        #name = "sagunala"
        print("My name is " + name)
    greet()

In [223]:
names()

My name is  is Sagunala Shashikanth

In [232]:
def vol(r):
    return (4/3)*(3.14)*(r**3)

In [233]:
vol(3)

113.03999999999999

In [234]:
def ran_check(num,low,high):
    return num in range(low,high+1)

In [235]:
ran_check(5,1,10)

True

In [245]:
def up_low(string):
    upper=0
    lower=0
    for i in string:
        if i.isupper():
            upper+=1
        elif i.islower():
            lower+=1
        else:
            pass
    return (upper, lower)

In [246]:
up_low("SagunalaShashiKanth")

(3, 16)

In [251]:
def unique(lst):
    return list(set(lst))

In [252]:
unique([1,1,1,2,2,2,22,3,33,3,4,44,5])

[1, 2, 3, 33, 4, 5, 44, 22]

In [257]:
def pal(string):
    string=string.replace(" ","")
    return string==string[::-1]

In [258]:
pal("nurses run")

True

In [259]:
def mul(lst):
    res=1
    for i in lst:
        res=res*i
    return res

In [260]:
mul([1,2,3,-4])

-24

In [264]:
str="aaabbbcssdhhh"
str=str.lower()
str=set("aaabbbcssdhhh")
str

{'a', 'b', 'c', 'd', 'h', 's'}